.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    padding: 0 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.deleteButton {
    display: flex;
    height: 30px;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

.deleteButton:hover {
    background-color: blanchedalmond;
    border: 1px solid black;
}
